[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/SDL_net"]
	path = external/SDL_net
	url = https://github.com/libsdl-org/SDL_net
[submodule "external/SteamworksSDK"]
	path = external/SteamworksSDK
	url = https://github.com/slouken/SteamworksSDK
	branch = v163+
[submodule "external/physfs"]
	path = external/physfs
	url = https://github.com/icculus/physfs
